<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Silksong.GameLibs.Local" value="..\..\Silksong.GameLibs\bin\Release" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="Silksong.GameLibs.Local">
            <package pattern="Silksong.GameLibs" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="BepInEx">
            <package pattern="BepInEx.*" />
            <package pattern="UnityEngine.Modules" />
        </packageSource>
    </packageSourceMapping>
</configuration>
